$breakpoints: (
  'xs': 320px,
  'sm': 375px,
  'md': 768px,
  'lg': 1280px,
);

@function get-breakpoint($size) {
  @return map-get($map: $breakpoints, $key: $size);
}

@mixin breakpoint-up($size-name) {
  $size: get-breakpoint($size-name);

  @media (min-width: $size) {
    @content;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  margin-bottom: 3.5rem;
}

//
// Typography
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Robot Condensed', sans-serif;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

//
// Specific styles
//
.custom-container {
  padding: 1rem;

  @include breakpoint-up('sm') {
    padding: 4rem;
  }

  @include breakpoint-up('md') {
    width: 70%;
    $margin-x: auto;
    margin-left: $margin-x;
    margin-right: $margin-x;
    max-width: 912px;
  }
}
