//
// Utilities
//

$breakpoints: (
  'xs': 320px,
  'sm': 375px,
  'md': 768px,
  'lg': 1024px,
);

@function get-breakpoint($size) {
  @return map-get($map: $breakpoints, $key: $size);
}

@mixin breakpoint-up($size-name) {
  $size: get-breakpoint($size-name);

  @media (min-width: $size) {
    @content;
  }
}

//
// Element styles
//
* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
}

section + section {
  margin-top: 4rem;
}

p + p {
  margin-top: 2.8rem;
}

//
// Typography
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Robot Condensed', sans-serif !important;
  font-weight: 700 !important;
}

p,
summary {
  font-size: 1.6rem;
  line-height: 2.4rem;

  @include breakpoint-up('md') {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

//
// Specific styles
//
.custom-container {
  padding: 4rem 2.5rem;

  @include breakpoint-up('sm') {
    padding: 4rem;
  }

  @include breakpoint-up('md') {
    width: 70%;
    $margin-x: auto;
    margin-left: $margin-x;
    margin-right: $margin-x;
    max-width: 912px;
  }
}

.custom-header {
  margin-bottom: 6rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
